body {
    background-color: darkslategray;

}

img {
    margin:0.25in;
    

}


.leftside {
    flex: 1;
    text-align: center;
    color: plum;

}

.center {
    flex: 1;
    text-align: center;
    color:cornsilk;

}

.rightside {
    flex: 1;
    text-align: center;
    color: palegreen;

}

.flexcontainer {
    display: flex; 

}


p {
    font-size: xx-large;
    font-family: Curlz;
}

a {
    color: cadetblue;

}