body {
    background-color: darkslategray;

}

.leftside {
    flex: 1;
    text-align: center;
    color: plum;
    background-color: azure;

}

.center {
    flex: 1;
    text-align: center;
    color:cornsilk;

}

.rightside {
    flex: 1;
    text-align: center;
    color: palegreen;

}

.flexcontainer {
    display: flex; 

}


p {
    font-size: xx-large;
    font-family: Curlz;
}

a {
    color: cadetblue;

}